<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search</title>
</head>
<body>
    <h1>Recipe Search</h1>
    <form action="/" method="post">
        <label for="ingredients">Enter Ingredients (comma-separated):</label>
        <input type="text" name="ingredients" id="ingredients">
        <input type="submit" value="Search">
    </form>
    {% if recipes %}
        <h2>Search Results:</h2>
        <ul>
            {% for recipe in recipes %}
                <li>{{ recipe.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>

@app.route('/', methods=['GET', 'POST'])
def home():
    recipes = None
    if request.method == 'POST':
        ingredients = request.form['ingredients'].split(',')
        recipes = search_recipes_by_ingredients(ingredients)

    return render_template('index.html', recipes=recipes)

if __name__ == '__main__':
    app.run(debug=True)
