/* Global styles that apply to the entire website */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Navigation bar styles */
.navigation {
  background-color: #236B8E;
  overflow: hidden;
}

.navigation a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #9AC0CD;
  color: black;
}

/* Styles for the review form page */
.review-form-container {
  position: relative;
  width: 400px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333;
}

.review-form-container .star-widget label {
  font-size: 40px;
  color: #ccc;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
  cursor: pointer;
}

.star {
  font-size: 40px;
  color: #ccc;
  padding: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.star input:checked ~ .star {
  color: #ffca08; /* Yellow color */
}


/* Styles for the recipe details page */
.recipe-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.recipe-details h2 {
  margin-bottom: 10px;
}

.recipe-details h3 {
  margin-top: 20px;
}

.recipe-details img {
  max-width: 100%;
  height: auto;
}

.ingredients-grid ul {
  list-style: none;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.star {
  font-size: 20px;
  color: #ff8d1b;
  margin-right: 5px;
}

.star.filled {
  color: #f5c518;
}

.star.empty {
  color: #ccc;
}

.average-rating {
  font-size: 18px;
  margin-left: 10px;
}

.review-item {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some space around the content */
  background-color: #ffffff; /* Set the background color for the container */
  border: 1px solid #e0e0e0; /* Add a border to the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the container */
}

