<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search</title>
</head>
<body>
    <h1>Recipe Search</h1>
    <form method="POST" action="/">
        <label>Enter Ingredients (comma-separated):</label><br>
        <input type="text" name="ingredients"><br>
        <input type="submit" value="Search">
    </form>

    {% if recipes %}
        <h2>Search Results:</h2>
        {% for recipe in recipes %}
            <h3>{{ recipe['name'] }}</h3>
            <p>Category: {{ recipe['category'] }}</p>
            <p>Area: {{ recipe['area'] }}</p>
            <p>Instructions: {{ recipe['instructions'] }}</p>
            <p>Youtube Link: {{ recipe['youtube_link'] }}</p>
            <p>Tags: {{ recipe['tags'] }}</p>
            <img src="{{ recipe['meal_thumb'] }}" alt="Meal Thumbnail">

            <h4>Ingredients Provided:</h4>
            <ul>
                {% for ingredient, measurement in recipe['input_ingredients'] %}
                    <li>{{ ingredient }}: {{ measurement }}</li>
                {% endfor %}
            </ul>

            <h4>Remaining Ingredients:</h4>
            <ul>
                {% for ingredient, measurement in recipe['remaining_ingredients'] %}
                    <li>{{ ingredient }}: {{ measurement }}</li>
                {% endfor %}
            </ul>

            <hr>
        {% endfor %}
    {% else %}
        <p>No recipes found with the provided ingredients.</p>
    {% endif %}
</body>
</html>
