<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recipe Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navigation">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        {% if session.loggedin %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>

    <h1>Recipe Search</h1>

    <form method="POST" action="/">
        <label>Enter Ingredients (comma-separated):</label><br>
        <input type="text" name="ingredients"><br>
        
        <label for="category">Select Category:</label>
        <select name="category" id="category">
            <option value="">Any Category</option>
            <option value="Seafood">Seafood</option>
            <option value="Vegan">Vegan</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Dessert">Dessert</option>
            
        </select><br>

        <label for="Cuisine">Select Cuisine:</label>
        <select name="cuisine" id="Area">
            <option value="">Any Cuisine</option>
            <option value="Italian">Italian</option>
            <option value="Mexican">Mexican</option>
            <option value="Indian">Indian</option>
            <option value="Chinese">Chinese</option>
            <option value="British">British</option>
            <option value="Moroccan">Moroccan</option>
            <option value="Thai">Thai</option>

            
        </select><br>
        
        <input type="submit" value="Search">
    </form>

    {% if recipes %}
        <h2>Search Results:</h2>
        <div class="recipe-grid">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <h3>{{ recipe['name'] }}</h3>
                    <img src="{{ recipe['meal_thumb'] }}" alt="Meal Thumbnail">
                    <a href="{{ url_for('recipe_details', meal_id=recipe['meal_id']) }}">View Recipe</a>
                </div>
            {% endfor %}
        </div>
        {% else %}
        {% if request.method == 'POST' %}
            <p>No recipes found with the provided ingredients and filters.</p>
        {% endif %}
    {% endif %}
</body>
</html>
