<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recipe Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navigation">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        {% if session.loggedin %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>

    <div class="recipe-details">
        <h2>Recipe Details</h2>

        <h3>Name:</h3>
        <p>{{ recipe[1] }}</p>

        <h3>Category:</h3>
        <p>{{ recipe[2] }}</p>

        <h3>Area:</h3>
        <p>{{ recipe[3] }}</p>

        <h3>Instructions:</h3>
        <p>{{ recipe[4] }}</p>

        <h3>Youtube Link:</h3>
        {% if recipe[7] %}
            <a href="{{ recipe[7] }}" target="_blank">{{ recipe[7] }}</a>
        {% else %}
            Not available
        {% endif %}

        <img src="{{ recipe[5] }}" alt="Meal Thumbnail">

        <div class="ingredients-grid">
            <h3>Ingredients:</h3>
            <ul>
                {% for ingredient, measurement in ingredients %}
                    <li>{{ ingredient }}: {{ measurement }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="reviews-section">
            <h3>Reviews:</h3>

            <div class="reviews-section">
                <h3>Reviews:</h3>
                <p>Average Rating: {{ average_rating }}</p>
                <p>Total Reviews: {{ num_reviews }}</p>
        
        
            {% if reviews %}
                <ul>
                    {% for review in reviews %}
                        <li class="review-item">
                            <p>Rating: {{ review[4] }}</p>
                            <p>Feedback: {{ review[5] }}</p>
                            <p>Username: {{ review[2] }}</p>
                            <p>Time: {{ review[6] }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews available.</p>
            {% endif %}
        </div>

        <a href="{{ url_for('home') }}">Back to Search</a>

        {% if session.loggedin %}
            <a href="{{ url_for('review_form', meal_id=meal_id) }}">Add Review</a>
        {% else %}
            <p>Please <a href="{{ url_for('login') }}">login</a> to add a review.</p>
        {% endif %}
    </div>
</body>
</html>